* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

section {
    background-color: #EDEDED;
    width: 600px;
    height: 530px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
}

h1 {
    font-weight: lighter;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0;
    margin-left: 50px;
}

article {
    margin-bottom: 30px;
    background-color: white;
    position: relative;
    display: flex;
    border: 2px solid lightgray;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

img {
    border: 2px solid lightgray;
    margin: 15px;
}

p {
    margin-top: 15px;
}

#abs {
    position: absolute;
    top: 70px;
    right: 30px;
}

button {
    width: 74px;
    height: 26px;
    color: white;
    padding: 5px;
    background-repeat: no-repeat;
    background-image: url(https://github.com/dentia/TelerikAcademy/blob/master/Homeworks/CSS/CSS-Layout/MusicCategories/images/listenBtn.png?raw=true)
}

span {
    font-weight: bold;
}