table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    padding: 10px;
}

#foo, .innerTable > th, td {
	border: 0px;
}

#border {
	border-right: 1px solid black;
}

.conrainer {
	border: 1px solid black;
}