body {
	background-color: #ECF0F1;
	margin-left: 0px;
	margin-right: 0px;
}

h1 {
	font-family: 'Poppins', sans-serif;
	color: #2C3E50;
	font-size: 50px;
	text-align: center;
}

ol {
	padding: 0;
	display: -webkit-box;
	display: -moz-box;
	display: box;
	background-color: #79BD8F;
}
li {
	list-style: none;
	list-style:none;
	text-align: center;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #00A388;
}

h2 {
	margin-top: 0px;
	margin-bottom: 0px;
}

a {
	font-family: 'Poppins', sans-serif;
}

img {
	display: block;
	margin-right: auto;
	margin-left: auto;
}